pandas
datasets
pyarrow  
fastparquet
sentence-transformers
nltk
pydantic
fastapi
psycopg2
PyPDF2
pdfplumber
chardet
fitz
frontend
PyMuPDF
spacy
deep-translator
python-docx
dotenv
python-multipart
pymongo   
sendgrid
bcrypt 
python-jose
pyjwt
Env
environs
sendgrid